{% extends 'main.html' %}

{% block title %}product_index{% endblock %}

{% block content %}
    <h1>Страница product_index</h1>
    <a href="{% url 'base_app:index' %}"></a>
    <a href="{% url 'products:index' %}"></a>
    <hr>
    {% for prod in product_list %}
        <div class="jumbotron">
            <h1>{{ prod.title }}</h1>
            <h2>{{ prod.description }}</h2>
            {% for comment in prod.comments.all %}
                <h3>{{ comment.title }}</h3>
                <h4>{{ comment.text }}</h4>
            {% empty %}
                <h3>Комментариев нет!</h3>
            {% endfor %}

        </div>
    {% empty %}
        <h1>Пусто!</h1>
    {% endfor %}

{% endblock %}